body{
    margin:0;
}

.container{
    display: flex;
    flex-direction: column;
}

button a {
    text-decoration: none;
}

.wrapper{
    height: 100px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lelogo{
    width:50px;
    margin:10px;
}

nav a{
    margin: 10px;
}

h1{
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    text-align: center;
    width:40vw;
    padding:15px;
    margin:10px;
}

.box1{background-color: red;}
.box2{background-color: orange;}
.box3{background-color: yellow;}
.box4{background-color: green;}
.box5{background-color: blue;}
.box6{background-color: purple;}